@import url('https://fonts.googleapis.com/css2?family=Pretendard:ital,wght@0,300;0,400;0,500;0,600&display=swap');

body {
  margin: 0;
  line-height: normal;
}

/* Transparent scrollbar styling */
.transparent-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.transparent-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.transparent-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.transparent-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
